<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="http://bulma.io/images/bulma-logo.png" alt="iDevTools logo">
      </a>
      <a class="nav-item is-tab is-active" [routerLink]="['/home']" >首页</a>
      <a class="nav-item is-tab" [routerLink]="['/encrypt']">加密</a>
      <a class="nav-item is-tab" [routerLink]="['/timestamp']">时间戳</a>
      <a class="nav-item is-tab" [routerLink]="['/url']">Url 编码/解码</a>
      <a class="nav-item is-tab" [routerLink]="['/random']">随机字符串</a>
      <a class="nav-item is-tab" [routerLink]="['/ip']">IP 查询</a>
    </div>
    <span id="nav-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="nav-menu" class="nav-right nav-menu">
      <a [routerLink]="['/home']" class="nav-item is-tab is-hidden-tablet is-active">首页</a>
      <a class="nav-item is-tab is-hidden-tablet" [routerLink]="['/encrypt']">加密</a>
      <a class="nav-item is-tab is-hidden-tablet" [routerLink]="['/timestamp']">时间戳</a>
      <a class="nav-item is-tab is-hidden-tablet" [routerLink]="['/url']">Url 编码/解码</a>
      <a class="nav-item is-tab is-hidden-tablet" [routerLink]="['/random']">随机字符串</a>
      <a class="nav-item is-tab is-hidden-tablet" [routerLink]="['/ip']">IP 查询</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
