<section class="section">
  <div class="container">

    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" class="mb20">

      <div class="field">
        <label class="label">Type your SQL here:</label>
        <p class="control">
          <textarea [ngClass]="form.get('string').hasError('required')?'is-danger':''" class="textarea"
                    placeholder="String" name="string"
                    required formControlName="string"></textarea>
        </p>
        <p *ngIf="form.get('string').hasError('required')" class="help is-danger">String is required</p>
      </div>

      <div class="field is-grouped">
        <p class="control">
          <button class="button is-primary" [disabled]="!form.valid" type="submit">Format SQL</button>
        </p>
      </div>

    </form>

    <app-result [result]="string"></app-result>
  </div>
</section>
