<section class="section">
  <div class="container">

    <form (ngSubmit)="onSubmit(form, 'encode')" [formGroup]="form" class="mb20">

      <div class="field">
        <label class="label">{{'URL' | translate}}</label>
        <p class="control">
          <textarea [ngClass]="form.get('string').hasError('required')?'is-danger':''" class="textarea"
                    placeholder="{{'URL' | translate}}" name="string"
                    required formControlName="string"></textarea>
        </p>
        <p *ngIf="form.get('string').hasError('required')" class="help is-danger">
          {{ 'URL' | translate}}{{ '_IS_REQUIRED' | translate}}
        </p>
      </div>

      <div class="field is-grouped">
        <p class="control">
          <button class="button is-primary" [disabled]="!form.valid" type="button" (click)="onSubmit(form, 'decode')">
            {{'DECODE' | translate}}
          </button>
        </p>
        <p class="control">
          <button class="button is-primary" [disabled]="!form.valid" type="button" (click)="onSubmit(form, 'encode')">
            {{'ENCODE' | translate}}
          </button>
        </p>
      </div>

    </form>

    <app-result [result]="string"></app-result>
  </div>
</section>
