<section class="section">
  <div class="container">

    <form (ngSubmit)="onSubmit(form, 'md5')" [formGroup]="form" class="mb20">

      <div class="field">
        <label class="label">String</label>
        <p class="control">
          <textarea [ngClass]="form.get('string').hasError('required')?'is-danger':''" class="textarea"
                    placeholder="String" name="string"
                    formControlName="string" required></textarea>
        </p>
        <p *ngIf="form.get('string').hasError('required')" class="help is-danger">String is required</p>
      </div>

      <div class="field is-grouped">
        <p class="control">
          <button class="button is-primary" [disabled]="!form.valid" type="button" (click)="onSubmit(form, 'md5')">
            MD5 Encrypt
          </button>
        </p>
        <p class="control">
          <button class="button is-primary" [disabled]="!form.valid" type="button" (click)="onSubmit(form, 'sha1')">
            SHA1 Encrypt
          </button>
        </p>
        <p class="control">
          <button class="button is-primary" [disabled]="!form.valid" type="button" (click)="onSubmit(form, 'sha256')">
            SHA256 Encrypt
          </button>
        </p>
      </div>
    </form>

    <app-result [result]="string"></app-result>
  </div>
</section>
