<section class="section">
  <div class="container">

    <form (ngSubmit)="onSubmit(form, 'md5')" [formGroup]="form" class="mb20">

      <div class="field">
        <label class="label">{{ 'STRING' | translate}}</label>
        <p class="control">
          <textarea [ngClass]="form.get('string').hasError('required')?'is-danger':''" class="textarea"
                    placeholder="{{ 'STRING' | translate}}" name="string"
                    formControlName="string" required></textarea>
        </p>
        <p *ngIf="form.get('string').hasError('required')" class="help is-danger">
          {{ 'STRING' | translate}}{{ '_IS_REQUIRED' | translate}}
        </p>
      </div>

      <div class="field is-grouped">
        <p class="control">
          <button class="button is-primary" [disabled]="!form.valid" type="button" (click)="onSubmit(form, 'md5')">
            MD5 {{ 'ENCRYPT' | translate}}
          </button>
        </p>
        <p class="control">
          <button class="button is-primary" [disabled]="!form.valid" type="button" (click)="onSubmit(form, 'sha1')">
            SHA1 {{ 'ENCRYPT' | translate}}
          </button>
        </p>
        <p class="control">
          <button class="button is-primary" [disabled]="!form.valid" type="button" (click)="onSubmit(form, 'sha256')">
            SHA256 {{ 'ENCRYPT' | translate}}
          </button>
        </p>
      </div>
    </form>

    <app-result [result]="string"></app-result>
  </div>
</section>
